.site-main {
    &--about {
        display: flex;
        flex-flow: column nowrap;
        padding-bottom: 40px;
    }
}
.about-link {
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 180px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 2px solid $color__link;
    border-radius: 5px;
    padding: 5px;
    i {
        padding-right: 10px;
        padding-top: 5px;
    }
    &:hover {
        border: 2px solid $color__link-hover;
    }
}
.about-section {
    padding-left: 20px;
    display: none;
    i {
        font-size: 28px;
        background: -webkit-gradient(linear, left top, left bottom, from($color__text-screen), to($color__text-input));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__paragraph {
        display: grid;
        grid-template-columns: 100px 1fr;
    }
}
